@import "tailwindcss";

*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.profilelist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: cadetblue;
  gap: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  background-color: beige;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  
}


.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  
}
.heading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.heading span{
  font-size: small;
}

.image{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 150px;
  width: 150px;
  
}

img{
  object-fit: cover;
 
}

.skill{
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.skill span{
  border: 1px solid red;
  border-radius: 10%;
  padding-left: 3px;
  padding-right: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}